body {
  background: #FFF8D6; /* creme */
  font-family: Arial, sans-serif;
}

.bloco {
  width: 260px;
  margin: 60px auto;
  padding: 20px;
  background: #C2A57A; /* marrom claro suave */
  border-radius: 12px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 6px;
  margin: 6px 0;
  border: 1px solid #888;
  border-radius: 5px;
}

input[type="button"] {
  margin-top: 10px;
  padding: 6px 15px;
  border: none;
  background: #8B6F47; /* combina com o fundo */
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

input[type="button"]:hover {
  background: #735837;
}
